<div class="container">
  <div class="feed-wrapper">

    <!-- SHOW ALL OF THE PICTURES -->
    <% @pictures.each do |picture| %>
      <!-- INDIVIDUAL IMAGE -->
      <div class="image-wrapper">

        <div class="insta-img">
          <%= image_tag("#{picture.url}", width: "500") %>
        </div>

        <div class="bottom-content">

          <div class="like">
            <%= link_to like_path(id: picture.id), method: :post do %>
              <div class="like-btn text-center" picture_id="<%= picture.id %>">
                <span class="<%= picture.heart_class(current_user) %>"></span>
              </div>
            <% end %>
            <div class="likes-message"><%= picture.likes_message(current_user) %></div>
          </div> <!-- end like -->

          <div class="user">
            <div><%= image_tag("#{picture.user.profile_pic}", width: "50") %></div>
            <div class="description">
              <div>
                <strong><%= picture.user.name %></strong> 
                <%= picture.description %>
              </div>
            </div>
          </div> <!-- end user -->

        </div> <!-- end bottom-content -->

      </div><!-- end INDIVIDUAL IMAGE -->
    <% end %>
    
  </div> <!-- end feed-wrapper -->
</div>